.user-page
  .left-container
    .user
      = image_tag 'profile_icon.png', alt: 'user-image', size: "200x200", class: "user__image"
      .user__name
        = current_user.name
      .user__goal
        .user__goal__header
          目標：
        %textarea.user__goal__content#goal-text{disabled:'true', rows: '4'}
          = current_user.goal
        = link_to "編集", "#", class: "user__goal__btn", id: "goal-edit-btn"
        = link_to "更新", "#", class: "user__goal__btn", id: "goal-update-btn"
          
  .right-container
    .right-container__upper
      .contents
        = link_to user_review_path(user_id: current_user.id), class: "content content__even" do
          今日やる復習
          - unless @today_reviewing.empty?
            .content__badge.content__badge--red
              = @today_reviewing.length
        = link_to "新しく学習を始める", new_user_lesson_path(user_id: current_user.id) , class: "content content__even"
        %hr/
        = link_to today_user_lessons_path(user_id: current_user.id) , class: "content content" do
          今日新しく学んだこと
          - unless @today_lessons.empty?
            .content__badge.content__badge--blue
              = @today_lessons.length
        = link_to user_reviewed_today_path(user_id: current_user.id) , class: "content content__even" do
          今日復習したこと
          - unless @today_reviewed.empty?
            .content__badge.content__badge--blue
              = @today_reviewed.length
        %hr/
        = link_to "学習一覧", user_lessons_path(user_id: current_user.id) , class: "content"
    %hr/
    .right-container__lower
      .progress
        .progress__header
          .progress__header__left
            進捗表
          .progress__header__right
            = "総学習数：#{current_user.study_count}"
        .progress__container#heatmap
= javascript_include_tag "users_show.js"
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.min.js'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.css'