!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Phonety
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header.header
      .header__left
        =link_to root_path do
          %h1 Phonety
      .header__right
        - if user_signed_in?
          = link_to "#", class: "header__right__link" do
            = current_user.name
          = link_to destroy_user_session_path, class: "header__right__link user_name", method: :delete, data: { confirm: "ログアウトします" } do
            ログアウト
        - else
          = link_to new_user_session_path, class: "header__right__link" do
            ログイン
          = link_to new_user_registration_path, class: "header__right__link" do
            新規登録
    %main
      = yield

    %footer.footer
      .footer__box
        .footer__box__left
          %h2 Phonety
          %p Learn to Grow
          .footer__box__left__links
            = link_to "#", class: "footer__box__left__links__link" do
              Twitter
            = link_to "#", class: "footer__box__left__links__link" do
              Qiita
        .footer__box__right
          %h4 Phonety
          .footer__box__right__links
            .footer__box__right__links__link
              = link_to "#", class: "footer__box__right__links__link" do
                About
              = link_to "#", class: "footer__box__right__links__link" do
                ご意見
      .footer__bottom
        © snskOgata